._container {
  display: flex;
  padding: 15px;
  justify-content: center;
}

.customTable {
    margin-top: 15px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  width: 600px;
}

.customTable td,
.customTable th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
